.fw-bolder {
  font-weight: 700;
  color: #2c3e50;
  display: inline-block;
  vertical-align: middle;
  font-display: auto;
  text-align: center;
}

.fw-bold {
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.fw-semibold {
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
}

.fw-medium {
  font-weight: 400;
  display: inline-block;
}

.fw-normal {
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}

.fw-light {
  font-weight: 200;
  display: inline-block;
  vertical-align: middle;
}

.fw-lighter {
  font-weight: 100;
  display: inline-block;
  vertical-align: middle;
}

.fw-inherit {
  font-weight: inherit;
  display: inline-block;
  vertical-align: middle;
}

.fw-initial {
  font-weight: initial;
  display: inline-block;
  vertical-align: middle;
}
