.fw-bolder {
  font-weight: 700;
}

.fw-bold {
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.fw-semibold {
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
}

.fw-medium {
  font-weight: 400;
  display: inline-block;
}
